@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";


:root {
  --background: #fdfdfd;
  --foreground: #fdfdfd;
}

.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.brada-font {
  font-family: "Brada Sans", "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(245, 245, 245);
    --foreground: #f1f3ed;
  }
}

body {
  background: var(--background);
  color: #333;
  font-family: "Brada Sans", "Helvetica Neue", Arial, sans-serif;
  caret-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif;
}

.archivo {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1 {
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 500;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  line-height: 3.4rem;
}




.topnav {
  /* gradient emerald-500 (#10b981) → emerald-700 (#047857) */
  background: linear-gradient(to bottom, #10b981, #047857);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1); /* sticky top-0 */
  position: sticky;
  top: 0; /* z-50 */
  z-index: 50;
}

.componentmw {
  margin-top: 1.5rem;
  max-width: 1000px;
  margin: 0px auto;
  padding-top: 2rem;
}

.navmw {
  max-width: 1000px; /* Tailwind max-w-7xl = 1280px = 80rem */
  margin-left: auto; /* mx-auto */
  margin-right: auto;
  padding-left: 1rem; /* px-4 = 1rem */
  padding-right: 1rem;
}

.pagetitle {
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: space-between; /* justify-between */
  padding-bottom: 2rem;
}

@media (min-width: 640px) {
  /* sm breakpoint */
  .container {
    padding-left: 1.5rem; /* sm:px-6 = 1.5rem */
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px) {
  /* lg breakpoint */
  .container {
    padding-left: 2rem; /* lg:px-8 = 2rem */
    padding-right: 2rem;
  }
}

.bggradient {
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
}
